#sbt
/project/target/
/project/project/target

/target/

# eclipse, intellij
/.classpath
/.project
/src/intellij/*.iml
/src/intellij/*.ipr
/src/intellij/*.iws
/.cache
/.idea
/.settings

# other
/sampleData/output*